

.btn {
	border: none;
	background: $button-color;
	height: $input-height;
	line-height: $input-height;
	padding: 0 $input-h-padding;
}


.controls {
	text-align: center;
	line-height: $input-height;
}