
.gallery {
	@include clearfix;
	margin-right: -$gallery-card-spacing;

	&-item {
		float: left;
		background: $gallery-card-background-color;
		padding: $gallery-card-padding;
		margin: 0 $gallery-card-spacing $gallery-card-spacing 0;
		@include box-sizing(border-box);
		width: 34%;
		max-width: $gallery-card-max-width;
		line-height: 1.3;

		&-photo {
			display: block;
			width: 100%;
			margin-bottom: 10px;
		}
		&-title {
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		&-description {
			color: $color-silver;
			font-size: 11px;
		}
		&-rating {
			display: block;
			&:before {
				content: "*****"
			}
		}
	}
}