
.gallery {
	@include clearfix;

	&-item {
		float: left;
		background: $gallery-card-background-color;
		padding: $gallery-card-padding;
		margin-bottom: $gallery-card-spacing;
		@include box-sizing(border-box);
		line-height: 1.3;
		color: $color-black;

		&-photo {
			display: block;
			width: 100%;
			margin-bottom: 13px;
		}
		&-title {
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		&-description {
			color: $color-silver;
			font-size: 11px;
		}
		&-rating {
			display: block !important;
			margin: 0 auto 12px;
		}

		// Adaptive layout
		@include responsive(large) {
			float: left;
			width: 30%;
			margin-right: 5%;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
		@include responsive(medium) {
			float: left;
			width: 46%;
			margin-right: 8%;

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

	}
}