

@media (max-width: $responsive-breakpoint-large) {
	.gallery-item {
		width: 50%;
	}
}


@media (max-width: $responsive-breakpoint-medium) {
	.gallery-item {
		float: none;
		max-width: none;
		width: auto;
	}
}