/* http://meyerweb.com/eric/tools/css/reset/ 
   Eric Meyer's "Reset CSS" v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.gallery {
  margin-right: -50px; }
  .gallery:before, .gallery:after {
    content: "";
    display: table; }
  .gallery:after {
    clear: both; }
  .gallery-item {
    float: left;
    background: #fff;
    padding: 20px;
    margin: 0 50px 50px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 34%;
    max-width: 300px;
    min-width: 190px;
    line-height: 1.3; }
    .gallery-item-photo {
      display: block;
      width: 100%;
      margin-bottom: 13px; }
    .gallery-item-title {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .gallery-item-description {
      color: #999999;
      font-size: 11px; }
    .gallery-item-rating {
      display: block !important;
      margin: 0 auto 12px; }

.btn {
  border: none;
  background: orange;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 20px; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); }
  .btn:active {
    -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3); }

.controls {
  text-align: center;
  line-height: 40px; }
  .controls .btn {
    margin: 0 20px; }

.ui-rating {
  display: inline-block;
  height: 10px;
  width: 58px;
  background: url("../imgs/ui-stars.png") repeat-x; }
  .ui-rating:before {
    content: "";
    display: block;
    background: inherit;
    background-position: 0 -16px;
    height: 10px;
    width: 0; }
  .ui-rating-1:before {
    width: 20%; }
  .ui-rating-2:before {
    width: 40%; }
  .ui-rating-3:before {
    width: 60%; }
  .ui-rating-4:before {
    width: 80%; }
  .ui-rating-5:before {
    width: 100%; }

@media (max-width: 870px) {
  .gallery-item {
    width: 50%; } }
@media (max-width: 500px) {
  .gallery-item {
    float: none;
    max-width: none;
    width: auto; } }
html {
  min-height: 100%; }

body {
  min-height: 100%;
  margin: 200px 100px;
  font-family: Arial, sans-serif;
  font-size: 12px; }

.page-bg {
  background: #675e71 url("../imgs/background.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1); }

.hide {
  display: none; }
